{% extends 'base.html.twig' %}

{% block title %}New VoilageRideauxDoubles{% endblock %}

{% block body %}
    <h1>Create new VoilageRideauxDoubles</h1>

    {{ include('voilage_rideaux_doubles/_form.html.twig') }}

    <a href="{{ path('app_voilage_rideaux_doubles_index') }}">back to list</a>
{% endblock %}
