<form method="post" action="{{ path('app_banquette_delete', {'id': banquette.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ banquette.id) }}">
    <button class="btn">Delete</button>
</form>
