{% extends 'base.html.twig' %}

{% block title %}New TeteDeLit{% endblock %}

{% block body %}
    <h1>Create new TeteDeLit</h1>

    {{ include('tete_de_lit/_form.html.twig') }}

    <a href="{{ path('app_tete_de_lit_index') }}">back to list</a>
{% endblock %}
