{% extends 'base.html.twig' %}

{% block title %}Edit AvantApres{% endblock %}

{% block body %}
    <h1>Edit AvantApres</h1>

    {{ include('avant_apres/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_avant_apres_index') }}">back to list</a>

    {{ include('avant_apres/_delete_form.html.twig') }}
{% endblock %}
