{% extends 'base.html.twig' %}

{% block title %}New AvantApres{% endblock %}

{% block body %}
    <h1>Create new AvantApres</h1>

    {{ include('avant_apres/_form.html.twig') }}

    <a href="{{ path('app_avant_apres_index') }}">back to list</a>
{% endblock %}
