{% extends 'base.html.twig' %}

{% block title %}Edit Garniture{% endblock %}

{% block body %}
    <h1>Edit Garniture</h1>

    {{ include('garniture/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_garniture_index') }}">back to list</a>

    {{ include('garniture/_delete_form.html.twig') }}
{% endblock %}
