{% extends 'base.html.twig' %}

{% block title %}New FauteuilDagrement{% endblock %}

{% block body %}
    <h1>Create new FauteuilDagrement</h1>

    {{ include('fauteuil_dagrement/_form.html.twig') }}

    <a href="{{ path('app_fauteuil_dagrement_index') }}">back to list</a>
{% endblock %}
